{% load static %}
<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />

	<title>Footer With Address And Phones</title>
	

	<link rel="stylesheet" href="css/demo.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/footer.css" type="text/css" media="screen">
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">

	<body>

		

		<!-- The content of your page would go here. -->

		<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Foodstore</h3>

				<p class="footer-links">
					<a > <font color="green">Mode of payment is Cash On Delivery (C.O.D) & lipa na Mpesa Till no (********)</a>
					
				</p>
				<p>
				<i	class="fa fa-shopping-cart"></i> Least cart Ksh. 500

				</p>
				<p>
				<i	class="fa fa-truck"></i> delivery standard charge Ksh.100. Free!! delivery for orders above Ksh. 5000!
				
				</p>


				<p class="footer-company-name">foodstore.co.ke &copy; 2018</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Eldoret,Kenya</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+254 713800030</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@foodstore.co.ke">support@foodstore.co.ke</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					
					Order before 12pm for same day delivery!
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
				</div>	
					
					<p><div> <h3>Mission Statement</h3>

                       Foodstore Inc. is a imaginative fresh from farm food products and service company aimed at     offering high-quiality,moderately priced, occasionally unusual foods direct from farm. We view ourselvess as patners with our customers, our suppliers, our employees, our community and our environment. We aim to become a regionally recognized brand name, Capitalizing on the sustained interest in Fresh Grocerys. Our goal is moderate growth, annual profitability and maintain our sense of humor.
                    </p>

				</div>

			</div>


		</footer>

	</body>


</html>
